doctype html
html
    head
      script(src='../../lib/ionic/js/ionic.bundle.js')  // load angular first
      script(src='../../lib/manual/meteor-runtime-config.js')
      script(src='./proxy.js')
    body(ng-app="oauth")
      p#completedText(style="display:none;")
        span Login completed. &nbsp;
        a#loginCompleted(href="#") Click here
        span &nbsp; to close this window.
      div#config(style="display:none;")
      
    
