//  To customize the look and feel of Ionic, you can override the variables
//  in ionic's _variables.scss file.
//
//  For example, you might change some of the default colors:
//
//  $light:                           #fff !default;
//  $stable:                          #f8f8f8 !default;
//  $positive:                        #387ef5 !default;
//  $calm:                            #11c1f3 !default;
//  $balanced:                        #33cd5f !default;
//  $energized:                       #ffc900 !default;
//  $assertive:                       #ef473a !default;
//  $royal:                           #886aea !default;
//  $dark:                            #444 !default;


// The path for our ionicons font files, relative to the built CSS in www/css
$ionicons-font-path: '../lib/ionic/fonts' !default;

// Include all of Ionic
@import '../../../bower_components/ionic/scss/ionic';


.hide {
  display:none !important;
}

.pull-right {
  float:right;
}

.no-padding {
  padding: 0 !important;
}

.bar-subhead-wrap {
  top: 44px;
  min-height: 44px;
  height: initial;
  display: block;
}
// nested .list .item
.list .item  .list {
  padding: 0;
  .item {
    border: none;
    margin: auto -16px;
  }
}

.list.has-icon-avatar {
  // shrink .item-avatar padding, but keep avatar normal size
  .item-avatar {
    padding-left: 54px;
    min-height: 54px;
    > img:first-child, .item-image {
      top: 6px;
      left: 6px;
    }
  }
  &.condensed {
    // shrink .item-avatar to icon size
    .item-avatar {
      >img:first-child, .item-image {
        width: 32px;
        height: 32px;
        top: 11px;
        left: 11px;
      }
    }
  }
}

// used by .event-detail .participants to show inline list of avatars
.item.item-avatar-list {
  min-height: 72px;
  .avatar-wrap {
    display: inline;
    margin-right: 10px;
    .item-image {
      max-width: 40px;
      max-height: 40px;
      border-radius: 50%;
    }
  }
}

/* Begin required CSS., see: http://codepen.io/siiron/details/jfBhy  */
.line-clamp
{
  display            : block;
  display            : -webkit-box;
  -webkit-box-orient : vertical;
  position           : relative;

  line-height        : 1.2;
  overflow           : hidden;
  text-overflow      : ellipsis !important;
  padding            : 0 !important;
  white-space: normal !important;
}
.line-clamp:after
{
  content    : '...';
  text-align : right;
  bottom     : 0;
  right      : 0;
  width      : 25%;
  display    : block;
  position   : absolute;
  height     : calc(1em * 1.2);
  background : linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) 75%);
}
@supports (-webkit-line-clamp: 1)
{
  .line-clamp:after
  {
    display : none !important;
  }
}
.line-clamp-1
{
  overflow           : hidden;
  text-overflow      : ellipsis !important;
  white-space: nowrap !important;
  /*-webkit-line-clamp : 1;*/
  /*height             : calc(1em * 1.2 * 1);*/

}
.line-clamp-2
{
  -webkit-line-clamp : 2;
  height             : calc(1em * 1.2 * 2);
}
.line-clamp-3
{
  -webkit-line-clamp : 3;
  height             : calc(1em * 1.2 * 3);
}
.line-clamp-4
{
  -webkit-line-clamp : 4;
  height             : calc(1em * 1.2 * 4);
}
.line-clamp-5
{
  -webkit-line-clamp : 5;
  height             : calc(1em * 1.2 * 5);
}
/* End required CSS. */

/*
 * placeholder.directive
 */
.bg-image {
  background-image: url('');
  background-position-x: 50%;
  background-position-y: 50%;
  background-size: cover;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  z-index: -1;
  width: 100%;
  &.fade {
    opacity: 0.85;
    filter: alpha(opacity=85);
  }
  &.mask {
    &:after {
      content: '';
      background: -webkit-linear-gradient(top, transparent 20%, rgba(0, 0, 0, 0.8) 100%);
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      z-index: 0;
      width: 100%;
    }
  }
  &.mask-top {
    &:after {
      @extend .bg-image.mask:after;
      background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.8) 0%, transparent 80%);
    }
  }
}
.xxxbg-image:after {
  content:"";
  background-color: rgba(0,0,0,0.5);
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
/*
 * END: placeholder.directive
 */

/*
 * auto-input directive
 */
.item-input {
  i.auto-input {
    line-height: inherit;
    position:absolute;
    right: 4px;
    bottom: 7px;
    height: 34px;
    padding: 8px 2px;
  }
  & > input, & > textarea {
    padding-right:16px !important;
  }
}
// ion-modal-view scrollbar hack
//  native-scroll scroll-bar z-index is too low
.modal .overflow-scroll .scroll .item-input {
 padding-right: 8px;
}
/*
 * end auto-input
 */

/*
 * listSummaryDetail.directive
 */
list-item-container {
  &.condensed {
    .card {
      margin: 0;
    }
  }
  .list-item-detail {
    &.motion {
      display: inline-block;
      width: 100%;
      max-height: 500px;
      -webkit-backface-visibility: hidden !important;
      backface-visibility: hidden !important;
      -webkit-transition: max-height 300ms ease-out !important;
      transition: max-height 300ms ease-out !important;
      transform: translate3d(0, 0, 0) !important;
      overflow: hidden;
      &.slide-under{
        max-height: 0px;
      }
    }
  }
}


body.platform-browser  {
  list-item-container .list-item-summary {
    &.detail-view-active .list-item-wrap:not(.selected) {
      .item.summary {
        opacity: 0.8;
      }
      .item.summary:hover {
        opacity:1;
      }
    }
  }
}

.ng-repeat-grid {
  &.row {
    flex-wrap: wrap;
    .col.col-full, .col.col-100 {
      flex: none; /* hack for safari flex-wrap bug */
    }
    .col {
      margin-bottom: inherit;
    }
  }
  @media(min-width: $grid-responsive-sm-break) {
    .card a {
      max-height: 320px;
      height: 320px;
    }
  }
}
.col-60 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 60%;
  -moz-box-flex: 0;
  -moz-flex: 0 0 60%;
  -ms-flex: 0 0 60%;
  flex: 0 0 60%;
  max-width: 60%;
}
.col-offset-25-right {
    margin-right: 25%;
}
.col-offset-33-right {
    margin-right: 33%;
}


/*
 * END listSummaryDetail.directive
 */


/*
 * app.profile
 */



$hero-wrap-bg-height: 170px;
#profile, #menu-item {
  .hero-a {
    .hero-wrap {
      overflow: hidden;
      position: absolute;
      top: 0;
      right: 0;
      width: 100%;
      height: $hero-wrap-bg-height;
      .hero-bg {
        width: 100%;
        height: 100%;
        z-index: -1;
      }
      .icon-bar .button-clear {
        &.selected, &.activated {
          text-shadow: none;
        }
      }
    }
    .face {
      border-radius: 50%;
      border: 2px solid white;
      width: 200px;
      height: 200px;
      position: inherit;
      z-index: inherit;
    }
  }
}


.icon-bar {
  z-index: 1;
  background-color: rgba(16,16,16,0.3);
  &.condensed {
    @extend .no-padding;
  }
  &.bottom-toolbar {
    position: absolute;
    bottom: 0;
    right: 0;
  }
  .button {
    padding: 0 6px;
    height: 32px;
    line-height: 32px;
    min-height: 32px;
    min-width: 32px;
    &.larger {
      font-size: 24px;
      padding: 0 6px;
    }
    &:hover {
      background-color: rgba(16,16,16,0.3);
    }
    &.button-clear {
      opacity: 0.7;
      &.selected, &.activated {
        color: inherit;
        opacity: 1;
        text-shadow: 0 0 10px $light;
      }
    }
  }
}

.blur {
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
}

 /* END app.profile */

/* tiles - summary view */
.strong {
  font-weight: 500;
}
.title {
  @extend .strong;
}


.tile.recipe {
  &.recipe {
    .body > * {
      line-height: 1.2em;
      margin-bottom: 2px;
    }
  }
  .selected & {
    .body {
      max-height:0;
      padding-top: 0;
      padding-bottom: 0;
      -webkit-transition: max-height 300ms ease-out !important;
      transition: max-height 300ms ease-out !important;
    }
  }
}
.tile.tile-detail {
  border: 1px solid #ddd;
  .item {
    min-height: inherit;
  }
}

.button-bar.condensed {
  @media(max-width: $grid-responsive-sm-break) {
    $condensed-height: 28px;
    & > .button {
      // max-height: 30px;
      min-height: $condensed-height;
      line-height: $condensed-height;
      .icon:before {
        font-size: 16px;
        line-height: 16px;
        vertical-align: initial;
      }
    }
  }
}

#new-tile-modal-view {
  .list {
    padding: 1px 3px 1px 5px;
    .preview {
      background-color: #444;
      .tile {border:none; transform: scale3d(0.8,0.8,1);}
    }
    .body {
      border: 1px solid #ddd;
      .patch-border {margin-right:-1px;}
      .item-stacked-label .input-label {
        font-size: smaller;
        color: darkgray;
        line-height: 17px;
        padding-top: 0;
      }
      ion-input.location {
        .current-location {
          position:relative;
          left:-10px;
          padding: 10px;
        }
        .auto-input-wrap {
          position:relative;
          line-height:33px;
          width: 100%;
        }
        .icon.ion-ios-arrow-forward {
          position: relative;
          padding: 10px 4px;
          right: -6px;
        }
      }
      .error {
        padding: 0 10px;
        border-top-color: red;
        border-top-width: 2px;
        border-top-style: solid;
      }
    }
  }
}


/*
   #map-view-map
*/
#map-view-map {
  .map-marker-label-class {
    background-color: rgba(0,0,0,0.7);
    color: white;
    padding: 4px 8px;
    border-radius: 14px;
  }
}


/*  legacy  */
.has-mask {
  &:after {
    content: '';
    background: -webkit-linear-gradient(top, transparent 20%, rgba(0, 0, 0, 0.8) 100%);
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    z-index: 0;
    width: 100%;
  }
}
.has-mask-reverse:after {
  @extend .has-mask:after;
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.8) 0%, transparent 80%);
}


/*
eventDetail View
 */

.event-detail {
  .menu-items {
    .list-item-summary {
      .col {
        padding: 0;
      }
    }
    .hero {
      height: 100px;
    }
  }
  .details {
    .icon-inline-right {
      position: absolute;
      top: 0;
      right: 0;
      height: 54px;
      padding: 11px 0;
      .item-icon-right {
        padding-right: initial;
        .icon {
          right: 0;
          display: inline-flex;
          position: static;
        }
      }
    }
  }
}
