// home/home.jade
ion-view(view-title="{{vm.title}}")
  ion-content#welcome.has-header(
    scroll="false"
    )
    div.box.text-center.content(
      style="height:100%;"
      ) 
      div.row.light(
        style="height:100%;"
        class="royal-bg"
        )
        div.col.col-center
          div.slide-content
            div.row.responsive-sm
              div.col.col-offset-25.col-50
                h1.light What's the Big Idea?
                h3(ng-bind-html="slide.subTitle")
                div.text-center.padding
                  p.larger.text-left.
                    We're working on fun and innovative ways to bring a group
                    of people to a common table.
                    Think #[b AirBnb for dinners], or #[b.nowrap Meetup with Menus].
                  div.text-left
                    p.
                      #[b Note:] This app is only a mockup so not everything works, and nothing is saved.
                      But there should be enough to give you a feel for what it could be.
                    p.  
                      Also you can change users/roles to get a more complete user experience.
                    p.text-right &mdash; michael@snaphappi

                    
                div.padding
                  button.button.button-balanced.button-flat.ink(ng-click="vm.on.welcomeDone()") Get Started
