doctype html
html
    head
        meta(charset="utf-8")
        meta(name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width")
        title
        link(rel="shortcut icon" type="image/x-icon" href="/img/favicon.ico")
        // inject:css
        // endinject

        script(src='lib/ionic/js/ionic.bundle.min.js')
        script(src='lib/ngCordova/dist/ng-cordova.min.js')
        
        //- Cordova is bootstrapped by ionic-platform-web-client, 
        //  load cordova.js manually if you remove ionic-platform-web-client... 
        script(src="lib/ionic-platform-web-client/dist/ionic.io.bundle.min.js")
        //- script(src='cordova.js')
        
        // inject:js
        // endinject

    body(ng-app="starter")
        // The nav bar that will be updated as we navigate between views.
        ion-nav-bar.bar-positive
          ion-nav-back-button

        // The views will be rendered in the <ion-nav-view> directive below
        // Templates are in the /templates folder (but you could also
        // have templates inline in this html file if you'd like).

        ion-nav-view
