
ion-side-menus(enable-menu-with-back-views="true")

  // Menu Content
  ion-side-menu-content(edge-drag-threshold="true")
    ion-nav-bar.bar-positive
      ion-nav-buttons(side="primary")
        button.button.button-icon.button-clear.ion-navicon(menu-toggle="primary")

    ion-nav-view(name="menuContent")
      ion-view
        ion-content

  // LEFT Menu
  ion-side-menu(exposeAsideWhen="large",side="left")
    ion-header-bar.bar-positive
      h1.title Menu
    ion-content
      ion-list
        ion-item.ink(nav-clear, menu-close, ui-sref="app.home") Home
        ion-item.ink(nav-clear, menu-close, ui-sref="app.me") My Profile
        ion-item.ink(nav-clear, menu-close, ui-sref="app.grid") Grid
        ion-item.ink(nav-clear, menu-close, ui-sref="app.recipe") Recipe
