//- people/my-profile.html
ion-view(view-title="{{vm.title}}") {{person=vm.person;view=vm.settings.view;''}}
  ion-content#profile.has-header.light-bg(
    scroll-sista
  )
    div.hero-a.content
      div.hero-wrap.has-mask-reverse
        div.hero-toolbar.icon-bar.condensed(ng-show="view.show=='profile'")
          i.button.button-clear.positive.ion-heart.larger.ink
          i.button.button-clear.positive.ion-ios-upload.larger.ink
        div.hero-bg.blur(bg-image="{{person.face}}")
      div.text-center.padding.content
        h2.light.text-center {{person.displayName}}
        img.face(
          bg-image="{{person.face}}"
        )

    div(ng-switch="view.show" ng-show="view.show")
      div#description.content.row.responsive-sm(ng-switch-when="signin")
        div.col.col-offset-25.col-50
          div.text-center.padding
            h3 Take off your coat #[span.nowrap and stay awhile...]
          div.text-center.padding
            button.button.button-positive(
              ng-click="vm.on.showSignInRegister('signin')"
              ) Sign in

      div#profile.content.row.responsive-sm(ng-switch-when="profile")
        div.col.col-offset-25.col-50
            div.list
              label.item-input {{ fullname=[person.firstname, person.lastname].join(' ') + ' (' + person.username + ')';'' }}
                span.input-label.text-right
                  i.icon.ion-person.padding-horizontal
                input.capitalize(type="text" ng-model="fullname" readonly)
              label.item-input
                span.input-label.text-right
                  i.icon.ion-email.padding-horizontal
                input(type="text" ng-model="person.email" readonly)  
              label.item-input
                span.input-label.text-right
                  i.icon.ion-quote.padding-horizontal
                input(type="text" ng-model="person.about" readonly)
            div.text-center.padding
              button.button.button-assertive(
                ng-click="vm.on.signOut()"
                ) Sign out


