//- people/my-profile.html
ion-view(view-title="{{vm.title}}") {{person=vm.person;view=vm.settings.view;''}}
  ion-content#profile.has-header.light-bg
    div.hero-a
      div.content
        div.hero-wrap.has-mask-reverse
          div.hero-bg.blur(ng-style="vm.imgAsBg(person.face)")
        div.hero-toolbar.padding
          i.padding-left.icon.ion-heart.dark
          i.padding-left.icon.ion-ios-upload.dark
        div.text-center.padding
          h2.light.text-center {{person.displayName}}
          img.face(
            ng-style="vm.imgAsBg(person.face)"
            )
    div(ng-switch="view.show" ng-show="view.show")
      div#description.content.row.responsive-sm(ng-switch-when="signin")
        div.col.col-offset-25.col-50
          div.text-center.padding
            h3 Take off your coat #[span.nowrap and stay awhile...]
          div.text-center.padding
            button.button.button-positive(
              ng-click="vm.on.showSignInRegister('signin')"
              ) Sign in

      div#profile.content.row.responsive-sm(ng-switch-when="profile")
        div.col.col-offset-25.col-50
            div.list
              label.item-input {{ fullname=[person.firstname, person.lastname].join(' ') + ' (' + person.username + ')';'' }}
                span.input-label.text-right
                  i.icon.ion-person.padding-horizontal
                input.capitalize(type="text" ng-model="fullname" readonly)
              label.item-input
                span.input-label.text-right
                  i.icon.ion-email.padding-horizontal
                input(type="text" ng-model="person.email" readonly)  
              label.item-input
                span.input-label.text-right
                  i.icon.ion-quote.padding-horizontal
                input(type="text" ng-model="person.about" readonly)
            div.text-center.padding
              button.button.button-assertive(
                ng-click="vm.on.signOut()"
                ) Sign out


