//- people/profile.html
ion-view(view-title="{{vm.title}}")
  ion-content#profile.has-header.light-bg(
    scroll-sista
  ) {{person=vm.person;''}}

    div.hero-a.content
      div.hero-wrap.has-mask-reverse
        div.bottom-toolbar.icon-bar.condensed
          i.button.button-clear.positive.ion-heart.larger.ink
          i.button.button-clear.positive.ion-ios-upload.larger.ink
        div.hero-bg.blur(bg-image="{{person.face}}")
      div.text-center.padding.content
        h2.light.text-center {{person.displayName}}
        img.face(
          bg-image="{{person.face}}"
        )

    div.content.row.responsive-sm
      div.col.col-offset-25.col-50
        div.scope-locals.hide
          {{ fullname = [person.firstname, person.lastname].join(' ');''}} 
          {{ fullname = fullname + (person.username ? + ' (' + person.username + ')' : '') ;'' }}
          {{ email = person.email || person.emails[0].address }}      
        div.text-center
          h2.capitalize {{fullname}}
          div(ng-show="person && person != vm.me")
            button.button.button-positive.icon.ion-chatbox.button-flat.ink
              span  Contact Me
